/* fluid.css: demonstrates how we used to design
things using fluid layouts.  Note that we still used
absolute measurements for small things like borders
and padding, but sometimes it was better to use
percentages, too.  */


body, html {
  /* just sets the base font, every font setting after
     this would use % or em; you could also use 
     100% for the font size, and it would start at whatever
     the user's system font was set to */
  font: 16px Arial, sans-serif;
}

body {
  background: #D6E8ED url("../images/trees.png") repeat;
}

.container {
  background-color: white;
  background-image: none;
  border: 2px solid #4e9cb1;
  margin: 10px auto;
  padding: 7px;
  width: 80%;
}

.header, .footer, .aside-left, .aside-right {
  border: 1px dashed #95c3d0;
}

.header, .footer {
  background-color: #D6E8ED;
  margin: 5px;
  padding: 7px;
  text-align: center;
}

h1 {
  border-top: 1px dashed #95c3d0;
  border-bottom: 1px dashed #95c3d0;
  font-size: 2.0em;
}

h2 {
  font-size: 1.5em;
}

.menu {
  padding: 3px;
}

.fake-content img {
  margin: auto;
  width: 95%;
}

.aside-left, .aside-right {
  margin: 5px;
  padding: 4px;
  vertical-align: top;
  width: 47%;
}

.aside-left {
  float: left;
}

.aside-right {
  float: right;
}

.clearfix{
  clear:both
}
